.main{
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav--outer{
    border: 1px solid black;
    padding: 10px;
}

.v--nav{
    background-color: #DDEEFE;
    color: #FF1133;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.v--nav li{
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
}

.v--nav li:hover{
    background-color: #725a31;
    color: white;
}

.h--nav {
    display: flex;
    justify-content: space-around;
    color: #11FF;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.h--nav li {
    padding: 14px 16px;
    border-right: 1px solid blue;
}

.h--nav li:hover {
    background-color: gray;
    color: white;
}
